<html>
<head>
    <title>Laboratory</title>
    <meta name="decorator" content="atl.general">
    <meta charset="utf-8">

</head>
<body>
<div class="aui-tabs vertical-tabs" role="application">
    <ul class="tabs-menu" role="tablist">
        <li class="menu-item active-tab" role="presentation">
            <a href="#tabA" id="aui-uid-0-1420915880205" role="tab" aria-selected="true"><strong>A</strong></a>
        </li>
        <li class="menu-item" role="presentation">
            <a href="#tabB" id="aui-uid-1-1420915880205" role="tab" aria-selected="false"><strong>B</strong></a>
        </li>
        <li class="menu-item" role="presentation">
            <a href="#tabC" id="aui-uid-1-1420915880205" role="tab" aria-selected="false"><strong>C</strong></a>
        </li>
    </ul>
    <div class="tabs-pane active-pane" id="tabA" role="tabpanel" aria-hidden="false">
        <h2>Table</h2>
        <form class="aui" method="POST" id="myform">
            <div class="field-group">
                <label for="task-input">Entry</label>
                <textarea class="textarea" name="task-input" id="task-input" placeholder="Enter text..."></textarea>
            </div>
            <div class="buttons-container">
                <div class="buttons">
                    <input class="button submit" type="submit" value="Submit" id="submit-button">
                </div>
            </div>
        </form>
        <table class="aui" id="mytable">
        </table>
    </div>
    <div class="tabs-pane" id="tabB" role="tabpanel" aria-hidden="true">
        <h2>Tab B</h2>
    </div>
    <div class="tabs-pane" id="tabC" role="tabpanel" aria-hidden="true">
        <h2>Tab C</h2>
    </div>
</div>
</div>

<script type="text/javascript">
    #include("test.js")
</script>

</body>
</html>